optimum
accelerate
aiohttp
aiosignal
annotated
anyio
attrs
certifi
charset
click
colorama
datasets
dill
dnspython
email_validator
fastapi
fastapi
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface
idna
Jinja2
markdown
MarkupSafe
mdurl
mpmath
multidict
multiprocess
numpy
orjson
packaging
pandas
pip
psutil
pyarrow
pydantic
pydantic_core
Pygments
pytz
PyYAML
regex
requests
rich
safetensors
setuptools
shellingham
six
sniffio
starlette
sympy
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
xxhash
yarl